body {
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
h1 {
    color: #17a2b8;
}
.form-control:focus, .form-control {
    background-color: inherit;
    color: #17a2b8;
}
.form-control::-webkit-input-placeholder {
    color: #17a2b8;
}
.form-control::-moz-placeholder {
    color: #17a2b8;
}
.form-control:-ms-input-placeholder {
    color: #17a2b8;
}
.form-control::-ms-input-placeholder {
    color: #17a2b8;
}
.form-control::placeholder,.form-control {
    color: #17a2b8;
}
p a ,button a {
    text-decoration: none;
    color: inherit;
}
p a:hover {
    text-decoration: underline;
}
#inBody {
    height: 75vh;
}
.animated {
    -webkit-animation: alerted 350ms ease-in-out ;
            animation: alerted 350ms ease-in-out ;
}

@-webkit-keyframes alerted {
    0% {
        -webkit-transform: translate(30px);
                transform: translate(30px);
    }
    20% {
        -webkit-transform: translate(00px);
                transform: translate(00px);
    }
    40% {
        -webkit-transform: translate(-30px);
                transform: translate(-30px);
    }
    60% {
        -webkit-transform: translate(00px);
                transform: translate(00px);
    }
    80% {
        -webkit-transform: translate(30px);
                transform: translate(30px);
    }
    100% {
        -webkit-transform: translate(00px);
                transform: translate(00px);
    }
}

@keyframes alerted {
    0% {
        -webkit-transform: translate(30px);
                transform: translate(30px);
    }
    20% {
        -webkit-transform: translate(00px);
                transform: translate(00px);
    }
    40% {
        -webkit-transform: translate(-30px);
                transform: translate(-30px);
    }
    60% {
        -webkit-transform: translate(00px);
                transform: translate(00px);
    }
    80% {
        -webkit-transform: translate(30px);
                transform: translate(30px);
    }
    100% {
        -webkit-transform: translate(00px);
                transform: translate(00px);
    }
}